button{
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: black;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease;
}

button:hover {
  background-color: #3a3833;
   
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color:var(--black);
  cursor: pointer;
  background:#fff;
  padding:.8rem 3rem;
}

.btn:hover{
  background:var(--orange);
  color:#fff;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

nav{
  display:flex;
  justify-content: space-between;
  background: white;
  height: 80px;
  width: 100%;
}

label.logo{
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: black;
  font-size: 17px;
  padding: 17px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: coral;
  color: white;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  
    
}


@media (max-width: 844px){
  .checkbtn{
    display:block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 70vh;
    background: #D8D8D8;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    
  }
  nav ul li{
    display:block;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: coral
  }
  #check:checked ~ ul{
    left: 0;
  }
  #userpicture{
    width:auto;
    height: auto;
  }
  .UserInfoContainer{
    width: 1000px;
    height: auto;
  }
}

#home{
  background-image: url("pics/hypepic.jpg"); 
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


}
#home span{
  color: coral;
}

.rating span{
  color: rgb(241, 214, 56);
}

#home h5{
  background-color: coral;
  font-size: 30px;
  color: black;
  margin-bottom: 0px;
}

#home p{
  font-size: 25px;
  background-color: coral;
  color: black;
}

#home button{
  margin-top: 10px;
  background-color: black;
  
}
#home h1{
  background-color: black;
  color: white;
  margin-bottom: 0px;
  
}

.service .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #f9f9f9;
  padding: 2rem;

}

.service .box-container .box{
  text-align: center;
  flex: 1 1 30rem
}

.service .box-container .box i{
  font-size: 4rem;
  color: coral;
}

.service .box-container .box h3{
  font-size: 2rem;
  color: black;
  padding-top: 1rem;
}

.service .box-container .box p{
  font-size: 1.5rem;
  color: black;
  padding: 1rem 0;
}

.heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: black;
  padding: 1rem;
}

.heading span{
  text-transform: uppercase;
  color: coral;
}

.products .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.products .box-container .box{
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  flex: 1 1 30rem;
}

.products .box-container .box .content{
  padding: 1.5rem;
}

.products .box-container .box img{
  height: 10rem;
  filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,.1));
  margin: 8rem 2rem;
}

.products .box-container .box:hover img{
  transform:  scale(2.5);

}

.products .box-container .box .icons{
  display: flex;
  flex-flow: column;
  position: absolute;
  top: .5rem; left:-10rem;
}

.products .box-container .box:hover .icons{
  left:3rem;
}

.products .box-container .box .icons a{
  height:4.5rem;
  width:5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: black;
  border:.1rem solid black;
  border-radius: .5rem;
  background:#fff;
  margin-top: .5rem;
}


.row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #f9f9f9;
  padding: 2rem;
  align-items: center;
  margin: 1.5rem 0;
}

.row .image-container{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex: 1 1 50rem;
}

.row .image-container .small-image{
  width: 20%;
}

.row .image-container .big-image{
  width: 80%;
  padding: 1rem;
}

.row .image-container .small-image img{
  width: 100%;
  padding: 1rem;
  border: .1rem solid rgba(0,0,0,.3);
  cursor: pointer;
}

.row .image-container .small-image img:hover{
  background: #ccc;
}

.row .image-container .big-image img{
  width: 100%
}

.row .image-container .big-image img:hover{
  transform: scale(1.05);
}

.row .content .price{
  font-size: 2.5rem;
  color: black;
  font-weight: bolder
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
  margin: 20px;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4{
  font-size: 20px;
  padding-bottom: 20px;
}

footer p{
  font-size: 14px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 14px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

#mainlogo{
  margin: 5px;
}

.UserInfoContainer{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color:#F2F2F2;
  margin: 0 auto;
}

.UserInfoContainer h2{
  text-align: center;
}

.UserInfoContainer ul{
  text-align: center;
}

#userpicture{
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.cartContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#flex-column-cart{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

#testing{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

.emptY{
  text-align: center;
}